<extend name="./Public/public" />
<block name="title">
    <h1 class="page-header">分类添加</h1>
</block>

<block name="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                   
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form role="form" method="post" action="{:U('Admin/Cate/insert')}" >
                                <div class="form-group">
                                    <label>选择分类</label>
                                    <select name="pid" class="form-control">
                                        <option value="0">顶级分类</option>
                                    <foreach name="cates" item="vo" > 
                                        <option value="{$vo.id}">{$vo.name}{$vo.id}</option>
                                    </foreach>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>分类名</label>
                                    <input name="name" placeholder="请输入分类名" class="form-control">
                                </div>
                                
                                
                                <button class="btn btn-primary btn-lg btn-block" >添加</button>
                            </form>
                        </div>
                       
                        
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
</block>