<extend name="./Public/public" />
<block name="title">
    <h1 class="page-header">商品列表</h1>
</block>

<block name="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        	<div class="row">
                                <form action="{:U('Admin/Goods/index')}" method="get">
                                    <div class="col-sm-6">
                                       <div class="dataTables_length" id="dataTables-example_length">
                                        <label>Show 
                                         <select name="num" aria-controls="dataTables-example" class="form-control input-sm">
                                          <option value="5">5</option>
                                          <option value="10">10</option>
                                          <option value="15">15</option>
                                          <option value="20">20</option>
                                      </select> entries
                                  </label>
                              </div>
                          </div>
                          <div class="col-sm-6">
                           <div id="dataTables-example_filter" class="dataTables_filter">
                            <label>Search:<input value="{$Think.get.keyword}" name="keyword" type="search" class="form-control input-sm" placeholder="" aria-controls="dataTables-example"></label>
                            <button class="btn btn-primary">搜索</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
             <div class="col-sm-12">
                 <table id="dataTables-example" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" aria-describedby="dataTables-example_info">
                    <thead>
                        <tr role="row">
                           <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 145px;" aria-label="Browser: activate to sort column ascending">ID</th>
                           <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 135px;" aria-label="Platform(s): activate to sort column ascending">分类名称</th>
                           <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 108px;" aria-label="Engine version: activate to sort column ascending">pid</th>
                           <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 77px;" aria-label="CSS grade: activate to sort column ascending">path</th>
                           <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" style="width: 77px;" aria-label="CSS grade: activate to sort column ascending">操作</th>
                       </tr>
                   </thead>
                   <tbody>
                    <!-- z这是用户列表的遍历 -->
                    <foreach name="Goods" item="vo" >    
                        <tr class="gradeA odd" role="row">
                            <td class="sid">{$vo.id}</td>
                            <td>{$vo.name}</td>
                            <td class="center">{$vo.pid}</td>
                            <td class="center">{$vo.path}</td>
                            <td class="center">
                                <a href="{:U('Admin/Goods/delete',array('id'=>$vo['id']))}"><button class="btn btn-danger btn-circle" type="button"><i class="fa fa-times"></i></button></a>
                                <a href="{:U('Admin/Goods/edit',array('id'=>$vo['id']))}"><button class="btn btn-primary btn-circle" type="button"><i class="fa fa-list"></i></button></a>
                            </td>
                        </tr>
                    </foreach>
                </tbody>
            </table>
        </div>
    </div>
                    <style type="text/css">
                          #pages a,#pages span{
                           background-color: #fff;
                           border: 1px solid #ddd;
                           color: #337ab7;
                           float: left;
                           line-height: 1.42857;
                           margin-left: -1px;
                           padding: 6px 12px;
                           position: relative;
                           text-decoration: none;
                       }
                       #pages span{
                    	/*background:#337ab7;
                    	color:white;*/
                    	background-color: #337ab7;
                      border-color: #337ab7;
                      color: #fff;
                      cursor: default;
                      z-index: 2;
                    }
                  </style>
                  <div class="row">
                      <div class="col-sm-6">
                       <div class="dataTables_info" id="dataTables-example_info" role="status" aria-live="polite"></div></div>
                       <div class="col-sm-6">
                        <div id="pages">
                         {$pages}
                     </div>
                 </div>
             </div>
         </div>
         <!-- /.table-responsive -->

     </div>
     <!-- /.panel-body -->
 </div>
 <!-- /.panel -->
</div>
<!-- /.col-lg-12 -->
</div>

</block>